CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea
build
build/*
cmake-build-debug
third_party/googletest/*
double-conversion
double-conversion/*
fmt
fmt/*
range-v3/*
range-v3
re2/*
re2
_build
